body {
    background-color: powderblue;
    margin: 20px; 
}
h1 {
    background-color: yellow;
    font-family: calibri; 
    font-size: 160%; 
    text-align: center; 
    border-style: dashed; 
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(167, 155, 155);
    padding: 0px; 
    margin: 0px; 
    overflow: hidden; 
}
.navbar a{
    color: white; 
    text-decoration:none; 
    padding: 15px; 
    display: block; 
    text-align: center; 
}
.navbar a:hover{
    background-color: rgb(243, 0, 0);
}
.navbar li{
    float: left; 
}
p1 {
    font-family: calibri; 
    font-size: 100%; 
}
a {
    font-family: calibri;   
    font-size: 100%
}
