body {
    margin: 20px; 
    background-image: url(grunge\ background.jpg); 
    background-repeat: repeat-x; 
}
h1 {
    background-color: rgb(255, 195, 91);
    font-family: calibri; 
    font-size: 250%; 
    text-align: center; 
    border-style: dashed; 
    color: rgb(0, 0, 0); 
}
.navbar ul{
    list-style-type:none;
    background-color: rgba(54, 252, 143, 0.678);
    padding: 2px; 
    margin: 0px; 
    overflow: hidden; 
}
.navbar a{
    color: rgb(0, 0, 0); 
    text-decoration:dashed; 
    padding: 20px; 
    display: block; 
    text-align: center; 
}
.navbar a:hover{
    background-color: rgb(243, 0, 0);
}
.navbar li{
    float: left; 
}
p1 {
    font-family: calibri; 
    font-size: 180%; 
    color: rgb(0, 0, 0); 
}
a {
    font-family: calibri;   
    font-size: 160%
}
.button {
    background-color: green; 
    border: none;
    color: white; 
    font-size: 30px; 
    cursor: pointer; 
    display: inline-block; 
    padding: 15px 32px; 
    margin: 4px 2px;
    border: 2px solid black; 
    transition-duration: 0.4s; 

}
.button:hover {
    background-color: lightgreen;
    color: white; 

}

